.greenButton {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.95rem;
  background-color: rgb(34 197 94);
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid rgb(34 197 94);
  color: white;
  transition: all 150ms ease;
  cursor: pointer;
  width: 100%;
}

.greenButton:hover {
  background-color: rgb(22 163 74);
  color: white;
}

.navButton {
  font-family: "Roboto Mono", monospace;
  font-size: 0.95rem;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  transition: all 150ms ease;
  cursor: pointer;
  text-decoration: underline;
  border: none;
}

.navButton:hover {
  background-color: rgb(22 163 74);
  color: white;
  text-decoration: none;
}

.grayButton {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.95rem;
  background-color: black;
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid rgb(34 197 94);
  color: white;
  transition: all 150ms ease;
  cursor: pointer;
}

.grayButton:hover {
  background-color: black;
  border: 1px solid yellow;
  color: white;
}

.menuButton {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.95rem;
  background-color: rgb(34 197 94);
  padding: 6px 8px;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  transition: all 150ms ease;
  cursor: pointer;
}

.menuButton:hover {
  background-color: green;
  border: 1px solid white;
}

.textFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textFieldLabel {
  color: rgb(34 197 94);
  font-size: 0.875rem;
}

.textFieldLabelFocused {
  color: rgb(34 197 94);
}

.textFieldInput {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  color: rgb(255 255 255);
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgb(34 197 94);
  outline: none;
  transition: all 150ms ease;
}

.textFieldInput:hover {
  border-color: yellow;
}

.textFieldInput:focus {
  border-color: rgb(34 197 94);
}

.textFieldInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
