.navButton {
  font-family: var(--font-roboto-mono), monospace;
  font-size: 0.95rem;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  color: inherit;
  transition: all 150ms ease;
  cursor: pointer;
  text-decoration: underline;
  border: none;
}

.navButton:hover {
  background-color: rgb(22 163 74);
  color: white;
  text-decoration: none;
}
